<% if is_english_language %>
  <%= page_navigator = will_paginate @comments = @comments.reverse.paginate(:page => params[:page], :per_page => Comment.per_page), :previous_label => "Previous ", :next_label => " Next" %>
<% else %>
  <%= page_navigator = will_paginate @comments = @comments.reverse.paginate(:page => params[:page], :per_page => Comment.per_page), :previous_label => "Wstecz ", :next_label => " Dalej" %>
<% end %><br/>

<% @comments.each do |comment| %>
  <% @comment = comment %>
  <% if is_english_language %>
    <h3><%= News.find(@comment.news_id).englishSubject %></h3><br/>
  <% else %>
    <h3><%= News.find(@comment.news_id).polishSubject %></h3><br/>
  <% end %>
  <div class="comment">
    <table>
      <tr>
        <% user = User.find(@comment.user_id) %>
        <td>
          <% if user.avatar? %>
            <%= image_tag(user.avatar, :size => "64x64") %>
          <% else %>
            <%= image_tag("/images/UserUnknownIcon.jpg", :size => "64x64") %>
          <% end %>
        </td>
        <td>
          <b><%= @comment.subject %></b>
          <br/><br/>
          <%= @comment.comment %>
          <br/><br/>
          <%= link_to user.username, user %> &nbsp; &nbsp;
          <i><%= @comment.posted.to_s[0..PagesController.date_length] %></i>
        </td>
      </tr>
    </table>
  </div>
  <br/>
<% end %>

<%= page_navigator %>


