<%= form_for(@user) do |f| %>
   
    <div class="field">
      <%= f.label "Użytkownik" %><br />
      <%= f.text_field :username %>
    </div>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :avatar %><br />
      <%= f.text_field :avatar %>
    </div>
   <div class="field">
      <%= f.label "Poziom uprawnień" %><br />
      <%= f.text_field :privilegesLevel %>
    </div>
    <div class="actions"><br />
      <%= f.submit "Zapisz"%>
    </div>
    <br/>
    <%= link_to "Zbanuj użytkownika na 7 dni", ban_user_path(@user.user_id, 7)%>
    <br/>
    <%= link_to "Zbanuj użytkownika permanentnie", ban_user_path(@user.user_id, 999)%>
 <% end %>
  