<br/><br/>
<%= link_to 'Nowy użytkownik', new_user_path %>
<br/><br/>
<table>
  <tr>
    <th>Użytkownik <%= link_to image_tag("/images/sorting_icons/ascending.gif"), sort_users_path("username ASC")%>
    	<%= link_to image_tag("/images/sorting_icons/descending.gif"), sort_users_path("username DESC")%>
    </th>
    <th>Email <%= link_to image_tag("/images/sorting_icons/ascending.gif"), sort_users_path("email ASC")%>
    	<%= link_to image_tag("/images/sorting_icons/descending.gif"), sort_users_path("email DESC") %>
    	</th>
    <!--<th>Passhash</th>
    <th>Passsalt</th>-->
    <th>Uprawnienia <%= link_to image_tag("/images/sorting_icons/ascending.gif"), sort_users_path("privilegesLevel ASC")%>
    	<%= link_to image_tag("/images/sorting_icons/descending.gif"), sort_users_path("privilegesLevel DESC") %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.username %> </td>
    <td><%= user.email %></td>
    <!--<td><%= user.passHash %></td>
    <td><%= user.passSalt %></td>-->
    <td><%= user.privilegesLevel %></td>
    <td><%= link_to 'Pokaż', user %></td>
    <% if is_admin_logged %>
    	<td><%= link_to 'Edytuj', edit_user_by_admin_path(user) %></td>
    <% else %>
    	<td><%= link_to 'Edytuj', edit_user_path(user) %></td>
    <% end%>
    <td><%= link_to 'Usuń', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />


