<%= form_for(@news) do |f| %>
  <% if @news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@news.errors.count, "error") %> prohibited this news from being saved:</h2>

      <ul>
      <% @news.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :posted %><br />
    <%= f.date_select :posted %>
  </div>
  <div class="field">
    <%= f.label :polishSubject %><br />
    <%= f.text_field :polishSubject %>
  </div>
  <div class="field">
    <%= f.label :polishNews %><br />
    <%= f.text_field :polishNews %>
  </div>
  <div class="field">
    <%= f.label :englishSubject %><br />
    <%= f.text_field :englishSubject %>
  </div>
  <div class="field">
    <%= f.label :englishNews %><br />
    <%= f.text_field :englishNews %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>