<%= page_navigator = will_paginate @news = @news.reverse.take(PagesController.news_per_page_admin_panel).paginate(:page => params[:page], :per_page => NewsController.per_page), :previous_label => "Wstecz ", :next_label => " Dalej" %>

<br/><br/> 
<%= link_to 'Nowy news', new_news_path %>
<br/><br/>
<table>
  <tr>
    <th>Opublikowany <%= link_to image_tag("/images/sorting_icons/ascending.gif"), sort_news_path("posted ASC")%>
    	<%= link_to image_tag("/images/sorting_icons/descending.gif"), sort_news_path("posted DESC")%> </th>
    </th>
    <th>Temat pl <%= link_to image_tag("/images/sorting_icons/ascending.gif"), sort_news_path("polishSubject ASC")%>
    	<%= link_to image_tag("/images/sorting_icons/descending.gif"), sort_news_path("polishSubject DESC")%> </th>
    </th>
    <th>Treść pl <%= link_to image_tag("/images/sorting_icons/ascending.gif"), sort_news_path("polishNews ASC")%>
    	<%= link_to image_tag("/images/sorting_icons/descending.gif"), sort_news_path("polishNews DESC")%> </th>
    </th>
    <th>Temat en <%= link_to image_tag("/images/sorting_icons/ascending.gif"), sort_news_path("englishSubject ASC")%>
    	<%= link_to image_tag("/images/sorting_icons/descending.gif"), sort_news_path("englishSubject DESC")%> </th>
    </th>
    <th>Treść en <%= link_to image_tag("/images/sorting_icons/ascending.gif"), sort_news_path("englishNews ASC")%>
    	<%= link_to image_tag("/images/sorting_icons/descending.gif"), sort_news_path("englishNews DESC")%> </th>
    </th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @news.each do |news| %>
  <tr>
    <td><%= news.posted.to_s[0..PagesController.date_length] %></td>
    <td><%= news.polishSubject %></td>
    <td><%= news.polishNews %></td>
    <td><%= news.englishSubject %></td>
    <td><%= news.englishNews %></td>
    <td><%= link_to 'Pokaż', news %></td>
    <td><%= link_to 'Edytuj', edit_news_path(news) %></td>
    <td><%= link_to 'Usuń', news, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
 <%= page_navigator %>
<br />

