<div class="post">
  <% if is_english_language %>
    <%= page_navigator = will_paginate @news = @news.reverse.paginate(:page => params[:page], :per_page => News.per_page), :previous_label => "Previous ", :next_label => " Next" %>
  <% else %>
    <%= page_navigator = will_paginate @news = @news.reverse.paginate(:page => params[:page], :per_page => News.per_page), :previous_label => "Wstecz ", :next_label => " Dalej" %>
  <% end %><br/>

  <% @news.each do |news| %>

    <% if is_english_language%>

      <h2 class="title"> <%= news.englishSubject %>  </h2>
      <p class="meta">
        <span class="date"><%= news.posted.to_s[0..PagesController.date_length] %></span>
        <%  user = User.find(news.user_id) %>
        <span class="posted">Posted by <%= link_to user.username, user %></span>
      </p>
      <div style="clear: both;">&nbsp;</div>
      <div class="entry">
        <% text = news.englishNews.split(" ") %>
        <p>
          <% for i in 0...PagesController.news_length %>
            <%= text[i].to_s + " " %>
          <% end %>
        <% if text.length > PagesController.news_length %>
          ...
        <% end %>
        </p>
        <p class="links">
          <% link_path1 = "/news/" + news.news_id.to_s + "/hide_comments" %>
          <%= link_to "Read more", link_path1 %> &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
          <% link_path2 = "/news/" + news.news_id.to_s + "/show_comments" %>
          <% link_name = "Comments (" + Comment.where(:news_id => news.news_id).count.to_s + ")" %>
          <%= link_to link_name, link_path2 %>
        </p>
      </div>

    <%  else %>

      <h2 class="title"> <%= news.polishSubject %>  </h2>
      <p class="meta">
        <span class="date"><%= news.posted.to_s[0..PagesController.date_length] %></span>
        <%  user = User.find(news.user_id) %>
        <span class="posted">Autor <%= link_to user.username, user %></span>
      </p>
      <div style="clear: both;">&nbsp;</div>
      <div class="entry">
        <% text = news.polishNews.split(" ") %>
        <p>
          <% for i in 0...PagesController.news_length %>
            <%= text[i].to_s + " " %>
          <% end %>
        <% if text.length > PagesController.news_length %>
          ...
        <% end %>
        </p>
        <p class="links">
          <% link_path1 = "/news/" + news.news_id.to_s + "/hide_comments" %>
          <%= link_to "Czytaj dalej", link_path1 %> &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
          <% link_path2 = "/news/" + news.news_id.to_s + "/show_comments" %>
          <% link_name = "Komentarze (" + Comment.where(:news_id => news.news_id).count.to_s + ")" %>
          <%= link_to link_name, link_path2 %>
        </p>
      </div>

    <% end %>

  <% end %>

  <%= page_navigator %>
</div>