<%= form_for(@postulate) do |f| %>
  <% if @postulate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@postulate.errors.count, "error") %> prohibited this postulate from being saved:</h2>

      <ul>
      <% @postulate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :uniformLink %><br />
    <%= f.text_field :uniformLink %>
  </div>
  <div class="field">
    <%= f.label :commentary %><br />
    <%= f.text_field :commentary %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
