<%= form_for(@postulate) do |f| %>
  <% if @postulate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@postulate.errors.count, "error") %> prohibited this postulate from being saved:</h2>

      <ul>
      <% @postulate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 
  <div class="field">
    <%= f.label "Tytuł: " %><br />
    <%= f.text_field :commentary %>
  </div>
  <br/>
   <div class="field">
    <%= f.label "Treść: "%><br />
    <%= f.text_field :content, :size => 50%>
  </div>
  <br/> 
  <div class="actions">
    <%= f.submit %>
  </div>
  <br/>
<% end %>
