<p id="notice"><%= notice %></p>

<p>
  <b>Uniformlink:</b>
  <%= @postulate.uniformLink %>
</p>

<p>
  <b>Commentary:</b>
  <%= @postulate.commentary %>
</p>


<%= link_to 'Edit', edit_postulate_path(@postulate) %> |
<%= link_to 'Back', postulates_path %>
