<%= form_for(@view_setting) do |f| %>
  <% if @view_setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@view_setting.errors.count, "error") %> prohibited this view_setting from being saved:</h2>

      <ul>
      <% @view_setting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<table>
		<th></th>
		<th></th>
		
		<tr>
		<td><%= f.label "Liczba news'ów w panelu administracyjnym   " %></td>
		<td><%= f.text_field :news_per_page, :size => 1 %></td>
		</tr>
		
		<tr>
		<td><%= f.label "Liczba news'ów na głównej:" %></td>
		<td><%= f.text_field :news_on_main, :size => 1%></td>
		</tr>
		
		<tr>
		<td><%= f.label "Liczba użytkowników na stronie: " %></td>
		<td><%= f.text_field :users_per_page, :size => 1 %></td>
		</tr>
		
		<tr>
		<td> <%= f.label "Liczba komentarzy do publikacji: " %></td>
		<td><%= f.text_field :comments_per_page, :size => 1 %></td>
		</tr>
		
		<tr>
		<td><%= f.label "Liczba postulatów: " %></td>
		<td> <%= f.text_field :postulates_per_page, :size => 1 %></td>
		</tr>
		
		<tr>
		<td><%= f.label "Liczba kategorii na stronie: " %></td>
		<td><%= f.text_field :categories_per_page, :size => 1 %></td>
		</tr>
		
		<tr>
		<td><%= f.label "Liczba znaków dla daty: " %></td>
		<td><%= f.text_field :date_length, :size => 1 %></td>
		</tr>
		
		<tr>
		<td><%= f.label "Liczba znaków dla newsa: " %></td>
		<td><%= f.text_field :news_length, :size => 1 %></td>
		</tr>
		
	</table>
  
  <div class="actions">
    <%= f.submit "Uaktualnij" %>
  </div>
<% end %>
