<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Polski tytuł" %><br />
    <%= f.text_field :polishName %>
  </div>
  <br/>
  <div class="field">
    <%= f.label "Polski opis" %><br />
    <%= f.text_field :polishDescription, :size => 70 %>
  </div>
  <br/>
  <div class="field">
    <%= f.label "Angielski tytuł" %><br />
    <%= f.text_field :englishName %>
  </div>
  <br/>
  <div class="field">
    <%= f.label "angielski opis" %><br />
    <%= f.text_field :englishDescription , :size => 70%>
  </div>
  <br/>
  <div class="actions">
    <%= f.submit "Aktualizuj"%>
  </div>
<% end %>
