<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :polish_name %><br />
    <%= f.text_field :polishName %>
  </div>
  <div class="field">
    <%= f.label :polish_description %><br />
    <%= f.text_field :polishDescription %>
  </div>
  <div class="field">
    <%= f.label :english_name %><br />
    <%= f.text_field :englishName %>
  </div>
  <div class="field">
    <%= f.label :english_description %><br />
    <%= f.text_field :englishDescription %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
