<br/><br/>
<%= link_to 'Nowa kategoria', new_category_path %>
<br/><br/>
<table>
  <tr>
    <th>Tytuł pl <%= link_to image_tag("/images/sorting_icons/ascending.gif"), sort_categories_path("polishName ASC")%>
    	<%= link_to image_tag("/images/sorting_icons/descending.gif"), sort_categories_path("polishName DESC")%> </th>
    </th>
    <th>Opis pl <%= link_to image_tag("/images/sorting_icons/ascending.gif"), sort_categories_path("polishDescription ASC")%>
    	<%= link_to image_tag("/images/sorting_icons/descending.gif"), sort_categories_path("polishDescription DESC")%> </th>
    </th>
    <th>Tytuł en <%= link_to image_tag("/images/sorting_icons/ascending.gif"), sort_categories_path("englishName ASC")%>
    	<%= link_to image_tag("/images/sorting_icons/descending.gif"), sort_categories_path("englishName DESC")%> </th>
    </th>
    <th>Opis en <%= link_to image_tag("/images/sorting_icons/ascending.gif"), sort_categories_path("englishDescription ASC")%>
    	<%= link_to image_tag("/images/sorting_icons/descending.gif"), sort_categories_path("englishDescription DESC")%> </th>
    </th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.polishName %></td>
    <td><%= category.polishDescription %></td>
    <td><%= category.englishName %></td>
    <td><%= category.englishDescription %></td>
    <td><%= link_to 'Show', category %></td>
    <td><%= link_to 'Edit', edit_category_path(category) %></td>
    <td><%= link_to 'Destroy', category, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />


