<h1>Listing categories</h1>

<table>
  <tr>
    <th>Polish name</th>
    <th>Polish description</th>
    <th>English name</th>
    <th>English description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.polish_name %></td>
    <td><%= category.polish_description %></td>
    <td><%= category.english_name %></td>
    <td><%= category.english_description %></td>
    <td><%= link_to 'Show', category %></td>
    <td><%= link_to 'Edit', edit_category_path(category) %></td>
    <td><%= link_to 'Destroy', category, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Category', new_category_path %>
