<p id="notice"><%= notice %></p>

<p>
  <b>Polish name:</b>
  <%= @category.polish_name %>
</p>

<p>
  <b>Polish description:</b>
  <%= @category.polish_description %>
</p>

<p>
  <b>English name:</b>
  <%= @category.english_name %>
</p>

<p>
  <b>English description:</b>
  <%= @category.english_description %>
</p>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
