<p id="notice"><%= notice %></p>

<p>
  <b>Polish name:</b>
  <%= @category.polishName %>
</p>

<p>
  <b>Polish description:</b>
  <%= @category.polishDescription %>
</p>

<p>
  <b>English name:</b>
  <%= @category.englishName %>
</p>

<p>
  <b>English description:</b>
  <%= @category.englishDescription %>
</p>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
